
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  margin: 0;
}

header {
  top: 0;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  /*display: inline-block;*/
  padding: 5px 0 0 10px;
  height: 50px;
  vertical-align: top;
  /*border: 1px solid white;*/
}
header nav {
  width: 85%;
  text-align: right;
  display: inline-block;
  margin-top: 15px;

  /*border: 1px solid white;*/
}
header span {
  display: inline-block;
  padding: 0 18px 0 18px;
  float: right;
}

a {
  color: seashell;
}
.main1 {
  position: relative;
  top: 62px;
}

#mission {
   height: 700px;
   width: 1200px;
   background: url("../../resources/images/mission-background.jpg") no-repeat center center;
   background: cover;
   padding-top: 70px;
   margin: 0 auto;
   display: flex;
   align-items: center;
 }

#mission h2 {
   font-size: 33px;
 }
#mission h4 {
  font-size: 22px;
}
.titles {
  background-color: black;
  width: 100%;
}
.titles h2, h4 {
  text-align: center;
}
.main2 h2 {
  font-size: 33px;
  text-align: center;
  margin-top: 140px;
}

.main2 h4 {
  font-size: 22px;
  text-align: center;
}
.container {
  margin-left: 200px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.container h3 {
  text-align: center;
  font-size: 22px;
  font-family: helvetica;
}
.tea_image {
  width: 300px;
  height: 200px;
}

 .tea {
  margin-right: 20px;
  text-align: center;
}

.description {
  text-align: center;
  margin-top: 10px;
}

.locations {
  /*display: flex;*/
  height: 500px;
  background: url("../../resources/images/locations-background2.jpg") no-repeat center center;
  background-size: cover;
  /*background-position: top center;*/
  margin-left: 100px;
  width: 1200px;
}

.locationflex {
  height: 500px;
  display: flex;
  background-color: transparent;
  justify-content: center;
}
.location1, .location2, .location3 {
  opacity: 1;
  width: 300px;
  height: 277px;
  background: black;
  margin-right: 40px;
  text-align: center;
  /*flex-direction: column;
  justify-content: center;*/
}

footer h2, footer h5 {
  text-align: center;
}
.info {
  height: 200px;
}
.copyright {
  text-align: left;
  margin-left: 20px;
}
