
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  margin: 0;
  text-align: center;
}

header {
  top: 0;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  padding: 5px 0 0 10px;
  height: 50px;
  vertical-align: top;
}
header nav {
  width: 85%;
  text-align: right;
  display: inline-block;
  margin-top: 15px;
}

header span {
  display: inline-block;
  padding: 0 18px 0 18px;
}

a {
  color: seashell;
}

.main1 {
  top: 62px;
}

.mission {
   height: 700px;
   width: 1200px;
   background: url("../../resources/images/mission-background.jpg") no-repeat center center;
   background: cover;
   padding-top: 70px;
   margin: 0 auto;
   display: flex;
   align-items: center;
 }

.mission h2 {
   font-size: 33px;
 }

.titles {
  background-color: black;
  width: 100%;
}

.main2 h2 {
  font-size: 33px;
  margin-top: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  width: 1000px;
}

.tea_image {
  width: 300px;
  height: 200px;
}

.tea.gallery {
  margin-right: 20px;
  text-align: center;
}

.description {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.locations {
  margin-top: 60px;
  height: 500px;
  background: url("../../resources/images/locations-background2.jpg") no-repeat center center;
  background-size: cover;
  margin-left: 100px;
  width: 1200px;
}
.title {
  width: 100%;
  padding-top: 60px;
}

.title span {
  padding: 10px;
  font-size: 33px;
  font-weight: bold;
}

.locationflex {
  height: 500px;
  display: flex;
  background-color: transparent;
  justify-content: center;
}
.location1, .location2, .location3 {
  opacity: 1;
  width: 300px;
  height: 277px;
  background: black;
  margin: 15px 40px 0 0;
}

.info {
  height: 200px;
}

.info h2 {
  font-size: 33px;
  font-weight: bold;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}
